extends layout

block content
  - var projects = _.chain(contents.project).compact().sortBy(function(item) {
  -   return -item.date
  - }).first(locals.index_count).value()

  div.span16
    h1 I've worked with some great people!
    p Check out the latest projects I've been working on.

    ul#projects
      each project in projects
        a(href=project.url)
          li.project.span5
            if project.metadata.image_url
              img(src=project.metadata.image_url,
                  title=project.metadata.image_title,
                  alt=project.metadata.image_alt)
            p #{project.metadata.abstract}.
