extends layout

block content
  - var projects = _.chain(contents.project).compact().sortBy(function(item) {
  -   return -item.date
  - }).first(locals.index_count).value()

  div.span16
    h1 I've worked with some great people!
    p Check out the latest projects I've been working on.

    ul#projects
      each project in projects
        li.project.span5
          a(href=project.url)
            if project.metadata.image
              img(src=project.metadata.image.url,
                  title=project.metadata.image.title,
                  alt=project.metadata.image.alt)
            p= project.metadata.abstract
