extends layout

block content
  - var projects = _.chain(contents['project']._.pages).sortBy(function(item) {
  -   return -item.date
  - }).first(locals.index_count).value()

  div.span16
    h1 Life's a project!
    p Check out the latest things I've been working on:

    ul#projects
      each project in projects
        a(href=project.url)
          li.project.span5(title=project.title)
            div#project-thumb
              if project.metadata.image_url
                img(src=project.metadata.image_url,
                    alt="A screenshot of #{project.title}")
            p.title=project.title
            p.abstract #{project.metadata.abstract}.
