
extends layout

block prepend title
  #{ page.title } | 

block content
  if page.metadata.image_url
    div.span5.screenshot
      a(href=page.metadata.url)
        img(src=page.metadata.image_url,
            alt=page.title)

  div.span10
    h1=page.title
    if page.metadata.url
      a(href=page.metadata.url) #{page.metadata.url}
    p!=page.html

